# BANCO (SQLite local - ja configurado)
DATABASE_URL="file:./dev.db"

# NEXTAUTH
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="loja-mvp-secret-2025-troque-em-producao"

# MERCADO PAGO (suas credenciais)
MERCADOPAGO_PUBLIC_KEY="APP_USR-f123f2c8-a08c-423f-a7b3-447ebb02e864"
MERCADOPAGO_ACCESS_TOKEN="APP_USR-7933412573159753-032814-4f0585a5235cf1ddc6db260a1b34c440-442158337"
NEXT_PUBLIC_MP_PUBLIC_KEY="APP_USR-f123f2c8-a08c-423f-a7b3-447ebb02e864"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# GOOGLE OAUTH (opcional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
